/*transition: 0.3s ALWAYS*/

html {
    background-color: #000;
}

body {
    background-color: #000;
}

img {
    object-fit: contain;
}

a {
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
    transition: 0.3s;
    text-decoration: none;
    color: #0f33ff;
}

button {
    cursor: pointer;
    border: none;
    background-color: #0f33ff;
    transition: 0.3s;
}

button:hover {
    background-color: #091e94;
    transition: 0.3s;
}

button:active {
    background-color: #07135b;
}

button:focus {
    border: none;
    outline: 0;
}

.button_blue {
    background-color: #1769ff;
}

.button_pink {
    background-color: #ea4c89;
}

.button_pink:hover {
    background-color: #a31d51;
}

.button_pink:active {
    background-color: #6b082e;
}

.slide {
    background-color: #000;
    display: none;
}

.slide-header {
    width: 100%;
}

.big-header {
    font-family: 'Proxima', sans-serif;
    font-weight: 700;
    font-size: 82px;
    color: #fff;
    line-height: 70px;
}

.mid-header {
    font-family: 'Proxima', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.min-header {
    font-family: 'Proxima', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.button-text {
    font-family: 'Proxima', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.text-svg {
    margin-left: 10px;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    object-fit: contain;
}

.nav {
    margin: 20px 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-header {
    margin-bottom: 0;
    margin-left: 10px;
    letter-spacing: 0.05em;
    transition: 0.3s;
    cursor: default;
}

.nav-button {
    position: relative;
    left: 30px;
    transition: 0.3s;
}

.hire-button {
    width: 90px;
    height: 30px;
}

.burger {
    float: right;
}

.burger path {
    transition: 0.3s;
}

.burger:hover {
    cursor: pointer;
}

.burger:hover path {
    transition: 0.3s;
    fill: #0f33ff;
}

.main__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slide1__main {
    position: relative;
}

.slide1__main:before {
    content: "";
    position: absolute;
    display: block;
    width: 76%;
    height: 1px;
    bottom: 1px;
    left: 18%;
    background-color: #242525;
}

.slide1__main:after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 10px;
    bottom: -8px;
    left: 20%;
    background-color: #0f33ff;
}

.text1__button {
    margin-top: 30px;
    width: 90px;
    height: 30px;
    position: relative;
    transition: 0.3s;
}

.text1__button_animate {
    width: 105px;
    transition: 0.3s;
}

.button1__text {
    transition: 0.3s;
}

.button1__text_position {
    position: absolute;
    left: -15px;
    top: 5px;
}

.button1__text_animate {
    left: 12px;
    transition: 0.3s;
}

.slide1__extra {
    margin-top: 30px;
}

.extra1__link * {
    transition: 0.3s;
}

.extra1__link:hover * {
    transition: 0.3s;
    color: #fff;
}

.link1__header {
    color: #242424;
}

.description {
    font-family: 'Proxima', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #242424;
}

.slide2__header {
    margin: 40px 0 50px;
    position: relative;
    left: -20px;
}

.slide2__slider {
    width: 100%;
}

.slider {
    display: flex;
    justify-content: space-around
}

.slider-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-slide p {
    display: none;
}

.slick-center p {
    display: block!important;
}

.slider-image {
    width: 275px;
}

.left-arrow, .right-arrow {
    cursor: pointer;
}

.slick-slide {
    transform: scale(0.7);
    transition: 0.3s;
}

.slick-center {
    transform: scale(1)!important;
    transition: 0.3s;
}

.slick-initialized .slick-slide {
    outline: 0;
    display: flex;
    flex-direction: column;
}

.slider-description {
    text-align: center;
    color: #fff;
}

.slider-header {
    margin: 10px 0;
}

.button3__text {
    margin-top: 30px;
    cursor: pointer;
}

.slide3__extra {
    width: 100%;
    margin: -100px 0 50px;
}

.picture3__header {
    position: relative;
    bottom: -105px;
    left: 10px;
    margin: 0;
}

.map {
    width: 100%;
    filter: grayscale(100%);
    position: relative;
    left: 70px;
}

.slide4__contacts {
    height: 350px;
    background-color: #0b0b0b;
    box-shadow: 10px 0 24px 0 rgba(0,0,0,0.75);
    position: absolute;
    top: -550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.contacts4__link {
    font-family: 'Proxima', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.contacts4__button {
    width: 130px;
    height: 40px;
}

.slide5__header {
    margin: 55px 0 10px;
    position: relative;
    left: -45px;
}

.checkbox {
    border: 2px solid #fff;
    padding: 15px;
    margin: 40px 25px 0;
    width: 200px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    transition: 0.3s;
    position: relative;
}

.check-checkbox {
    border: 2px solid #0f33ff;
    background-color: #0f33ff;
    transition: 0.3s;
}

.checkbox-header {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Proxima', sans-serif;
    color: #fff;
    margin: 0;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 50px;
}

.checkbox label::after {
    content: "";
    display: inline-block;
    height: 16px;
    width: 19px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 20px;
    top: 10px;
}

.checkbox label {
    position: relative;
}

.checkbox label::after {
    position: absolute;
}

.checkbox label::after {
    left: -160px;
    top: -10px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

.name, .mail {
    margin: 30px;
}

.name-input, .mail-input {
    font-family: 'Proxima', sans-serif;
    font-weight: 300;
    font-size: 30px;
    background-color: #000;
    color: #fff;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #fff;
}

.name-input::placeholder {
    color: #fff;
}

.mail-input::placeholder {
    color: #fff;
}

.request-button {
    width: 400px;
    height: 50px;
    margin-top: 40px;
}

.nav-line {
    border-left: 1px solid #242424;
    height: 500px;
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
}

.on {
    opacity: 1;
}

.number-slide {
    list-style: none;
    position: relative;
    left: -11px;
    color: #757474;
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;
}

.number-active {
    transition: 0.3s;
    color: #e6e5e5;
    font-weight: 400;
    letter-spacing: 0.4em;
    left: -14px;
    cursor: default;
}

.slide-active {
    display: block;
}

@media (max-width: 992px) {
    .slick-slide {
        transform: scale(0.6);
    }

}